<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Minhas Tarefas</h1>
        <ul>
            {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong> - {{ task.due_date }} - {{ task.priority }}
            </li>
            {% empty %}
            <p>Você ainda não possui tarefas cadastradas.</p>
            {% endfor %}
        </ul>
    </div>
</body>
</html>